@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Lora' serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}
